* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    border: 1px solid black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.generator {
    padding: 1%;
    background-color: rgb(70,28,109);
    width: 25vw;
}

.champ {
    padding: 3%;
    background-color: rgb(46,12,80);
    color: white;
    height: 52vh;
    display: flex;
    flex-direction: column;
}

.output {
    font-size: 1.5em;
    height: 10vh;
    background-color: rgb(70,28,109);
    color: white;
    display: flex;
    justify-content: space-between;
}

#text {
    display: flex;
    align-items: center;
    padding-left: 5%;
}

.text.error {
    
}

#copy {
    font-size: small;
    visibility: hidden;
}

#copy button {
    border: none;
    cursor: pointer;
}

.inputs {
    display: flex;
    justify-content: space-between;
    font-size: 1.15em;
    margin: 5% 0;
}

small {
    color: red;
    visibility: hidden;
}

#btn {
    cursor: pointer;
    border: none;
    font-size: 1.5em;
    font-weight: bold;
    background-color: rgb(237,181,0);
    color: rgb(70,28,109);
    padding: 4% 2%;
}