* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgb(123, 219, 243);
    min-height: 100vh;
    width: 100%;
    padding: 1%;
    display: grid;
    grid-template-rows: 7vh auto;
}

#btndiv {
    grid-row: 1/2;
    padding: 0 1%;
    display: flex;
    flex-direction: row-reverse;
}

#btndiv button {
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    background-color: rgb(158, 201, 98);
    color: white;
    padding: 0.5% 2%;
    height: 5vh;
}

#btndiv button:hover {
    color: rgb(158, 201, 98);
    background-color: white;
}

#notesdiv {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.note {
    margin: 2%;
    display: flex;
    flex-direction: column;
}


.entete {
    background-color: rgb(158, 201, 98);
    height: 5vh; 
    min-width: 15vw;
    max-width: 25vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.note textarea {
    border: none;
    min-height: 40vh;
    max-height: 60vh;
    min-width: 15vw;
    max-width: 25vw;
}

.entete img {
    cursor: pointer;
    width: 1.5em;
    margin-right: 1em;
}

.entete span {
}