* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgb(123, 219, 243);
    min-height: 100vh;
    padding: 1%;
    display: grid;
    grid-template-rows: 7vh auto;
}

#btndiv {
    grid-row: 1/2;
    display: flex;
    flex-direction: row-reverse;
}

#btndiv button {
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    background-color: rgb(158, 201, 98);
    color: white;
    padding: 0.5% 2%;
    height: 5vh;
}

#btndiv button:hover {
    color: rgb(158, 201, 98);
    background-color: white;
}

#notesdiv {
    display: grid;
    grid-template-columns: repeat(5,1fr);

}

.note {
    height: 45vh;
    width: 15vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 2.5% 0 0 1%;
}

.note textarea {
    border: none;
}

.entete {
    background-color: rgb(158, 201, 98);
    height: 5vh;
    display: flex;
    justify-content: flex-end;
}

.entete img {
    width: 1.5em;
    cursor: pointer;
}

.entete span {
    margin: 1% 1.5%;
}